@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

body{
    background-color: #fbdfc8;
    height: 100vh;
    display: flex;
    background: #fbdfc8 url(img.png) repeat-y right top;
    
}

*{
    margin: 0;
    padding: 0;
}

.content{
    width: 90%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: column;
   
}

.content h2{
    color: #58001b;
    font-size: 5em;
    font-family: "Cascadia Mono", sans-serif;
    margin: 5px 60px ;
    letter-spacing: 2px;
}

.content p{
    color: #58001b;
    font-size: 1em;
    font-family: "Cascadia Mono", sans-serif;
    margin: 0 400px 100px 60px;
    letter-spacing: 2px;
}

.content ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 300px 0 60px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.content ul li a{
    text-decoration: none;
    color: #58001b;
    font-size: 1.5em;
    font-family: "Cascadia Mono", sans-serif;
    
}


.content ul li a:hover{

    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

img{
    width: 140px;
    height: 35px;
    margin: 200px 0 0 60px ;
}


@media screen and (max-width:1000px){
    body{
    background-color: #fbdfc8;
    height: 100vh;
    display: flex;
    background: #fbdfc8 url(img23.png) repeat-x center bottom;
    }

    .content{
        flex-direction: row;
        width: 100%;
        height: 50%;
        justify-content: start;
    }

.content p{
    margin: 0 0 100px 60px;
}

.content ul{
    justify-content:space-between;
    margin: 0 0 0 40px;
}

.content ul li{
    margin: 0 20px;
}

}


