@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.content{
    height: 100vh;
    width: 100%;
    display: flex;
    background: #fbdfc8;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background: #fbdfc8 url(img/img.png) repeat-y right top;

}


.content1{
    width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content2{
    width: 70%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 50px;

}

.content2 h2{
    height: 20%;
    color: #58001b;
    text-align:  start;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 5rem;
    letter-spacing: 2px;
    margin: 0;
}

.content2 p{
    height: 20%;
    color: #58001b;
    font-size: 1.05rem;
    font-family: "Cascadia Mono", sans-serif;
    letter-spacing: 2px;
}

.content2 ul{
    height: 30%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:stretch;
    
}

.content2 ul li a{
    text-decoration: none;
    color: #58001b;
    font-size: 1.5rem;
    font-family: "Cascadia Mono", sans-serif;
    margin: 0 20px;
}


.content2 ul li a:hover{
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.content3{
    width: 20%;
}


@media (max-width:900px){
    .content{
        flex-direction: column;
        background: #fbdfc8 url(img/img23.png) repeat-x center bottom;
        align-items: center;
    }

    .content1{
        height: 2%;
        width: 100%;
    }

    .content2{
        height: 70%;
        width: 100%;
        margin: 0;
        align-items: center;
    }

    .content2 p{
        height: 35%;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .content2 ul{
        flex-direction: column;
        height: 40%;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    .content2 h2{
        font-size: 3rem;
        height: 20%;
    }

    .content2 ul li{
        height: 20%;
    }

    .content3{
        height: 25%;
        width: 100%;
        flex-direction: column;
    }
}






